
<!-- Favicon - loaded as static -->
<link href="/static/assets/img/brand/favicon.png" rel="icon" type="image/png">

<!-- Fonts -->
{% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> {% endcomment %}
<link href="/static/assets/css/googleapis/all.css" rel="stylesheet">

<!-- Icons -->
<link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
<link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

<!-- CSS Files -->
<link href="/static/assets/css/floskid-dashboard.css?v=1.0.0" rel="stylesheet" />
<link href="/static/assets/js/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

<!-- fontawesome -->
{% comment %} <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> {% endcomment %}
<link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>

<!-- monitoring sys -->
<link href="/static/assets/css/monitoring_sys.css" rel="stylesheet"/>
