{% extends 'layouts/base.html' %}

{% block title %} Reporting {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl order-xl-1">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Reporting</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class='table-responsive'>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input type="text" class="date-range-picker-start-date" hidden>
                    <input type="text" class="date-range-picker-end-date" hidden>
                    <input type="text" class="date-range-picker form-control">
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        {% comment %} <th scope="col" class="report-table-select-col"><input id="report-table-select-all-checkbox" type="checkbox" style="vertical-align: middle;">  Select all</th> {% endcomment %}
                        <th scope="col">Report Name</th>
                        <th scope="col">Report Time</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
              </div>
              <div class="report-table-footer">
                <button type="button" class="btn btn-primary" id="report-table-export">Export</button>
                <button type="button" class="btn btn-primary" id="report-table-preview">Preview</button>
                <button type="button" class="btn btn-danger" id="report-table-delete">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "modals.html" %}
      {% comment %} {% include "includes/footer.html" %} {% endcomment %}

    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="/static/assets/js/page-report.js"></script>
<script src="/static/assets/js/plugins/DataTables/datatables.js"></script>
<link rel="stylesheet" href="/static/assets/js/plugins/DataTables/datatables.css">
<script src="/static/assets/js/plugins/DataTables/dataTables.select.js"></script>
<link rel="stylesheet" href="/static/assets/js/plugins/DataTables/select.bootstrap.min.css">
<script src="/static/assets/js/plugins/DataTables/dataTables.buttons.js"></script>
<link rel="stylesheet" href="/static/assets/js/plugins/DataTables/buttons.dataTables.css">
<script src="https://cdn.datatables.net/plug-ins/1.11.4/sorting/datetime-moment.js"></script>
{% endblock javascripts %}
